@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@theme {
  --font-sans: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif;
}

@media (max-width: 1399px) {
  .below-1400 {
    display: block !important;
  }
  .above-1400 {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .below-1400 {
    display: none !important;
  }
  .above-1400 {
    display: flex !important; /* or block */
  }
}

html {
  scroll-behavior: smooth;
}

.slick-dots {
  bottom: 0;
}
.slick-dots li.slick-active button:before {
  opacity: 0;
  color: #00000000;
}
.slick-dots li {
  cursor: pointer;
  width: 14px !important;
  height: 14px !important;
  margin: 0 4px;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  border: 2px solid #32a2dc;
}
.slick-dots .slick-active {
  background: #32a2dc;
}
.slick-dots li button:before {
  content: "•";
  opacity: 0 !important;

}

.slick-vertical .slick-dots {
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);
  display: flex !important;
  flex-direction: column;
  gap: 12px;
  justify-content: center;   /* keeps them vertically centered */
  align-items: flex-end;     /* ✅ push dots to the right */

  
}
