@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --font-sans: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif;
}

@media (max-width: 1399px) {
  .below-1400 {
    display: block !important;
  }
  .above-1400 {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .below-1400 {
    display: none !important;
  }
  .above-1400 {
    display: flex !important; /* or block */
  }
}
